    .header-navbar .navbar-header .navbar-brand .brand-logo{
      width: 136px;
      max-width: 100%;
    }
    .header-navbar .navbar-header .navbar-brand{
      padding: 18px 0;
    }
    .header-navbar{

    }
    .main-menu.menu-light .navigation > li.active > a{
    	color: black;
    }
    .main-menu.menu-light .navigation > li> a{
    	color: black;
    }
    .header-navbar{
    	min-height: 3rem;
    	height: 56px;
    }
    .header-navbar .navbar-container ul.nav li > a.nav-link{
    	font-size: 1rem;
    }
  	.navbar-brand{
  		padding-top: 1.1875rem;
  	}
  	.header-navbar .navbar-header{
  		height: 63px;	
  	}
  	.main-menu.menu-fixed{
  		top: 4rem;
  	}
    footer.footer{
      padding: 0.3rem;
    }
    footer>p{
      color: black;
    }
    .text-bold-dark-blue{
      font-weight: bold;
      color: darkblue;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
      font-family: 'Source Sans Pro',sans-serif;
      color: black;
    }
    html body .content .content-wrapper{
      padding-top: 0;
    }
    .btn-app {
      position:relative;
      padding:10px 5px;
      min-width:150px;
      height:110px;
      color:steelblue;
      border:1px solid #ddd;
      background-color:#f4f4f4;
      font-size:12px;
    }
    .btn-app-title{
      font-size: 19px;
      font-weight: bold;
      color: darkblue;
      font-family: Calibri;
    }
    .page-name-title{
      padding-left: 0;
      padding-right: 0;
    }
    .card{
      min-width: 100%;
    }
    .carousel-item{
      text-align: center;
    }
    .statics{
      padding-bottom: 0;
    }
    .weather-location{
      
    }
    .img-float{
        float: left;
    }
    .card-img-top{
        height: 200px;
    }
    .controls-top{
        padding: 5px 10px;
    }
    .view-all-most-seller{
        padding-bottom: 15px;
        padding-right: 12px;
        vertical-align: middle;
    }
    .badge{
        font-weight: bold !important;
    }
    .header-bg-color{
        background: #3461a4 !important;
    }
    html body .pace .pace-progress{
        background: #f15d22 !important;
    }
    .select2 {
        width:100%!important;
    }
    .modal-full-width{
        max-width: 95% !important;
        width: 95% !important;
    }
    .mt-2-negative{
        margin-top: -2px !important;
    }
    .input-group-append{
        height: 2.4rem !important;
    }
    .task-more-save-btn{
        margin-top: 27px !important;
    }
    .menu-title{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    .mt-6px{
        margin-top: 6px !important;
    }
    .green{
        color:green !important;
    }